<!-- <p>ok</p>
<button (click)="PropsSI()">Imprimir</button> -->
<div class="main-div" *ngIf="!loaded">
    <mat-spinner >

    </mat-spinner>
</div>

<div class="main-div bg-color">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Thermoprops</mat-card-title>
            <mat-card-subtitle>Thermodynamic properties calculator</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Search a substance</mat-label>
                    <input 
                        type="text" 
                        placeholder="Pick one" 
                        aria-label="Search a substance" 
                        matInput 
                        [matAutocomplete]="auto" 
                        [formControl]="selectedFluid">
                    <mat-autocomplete [displayWith]="displayFn" autoActiveFirstOption #auto="matAutocomplete" >
                        <mat-option *ngFor="let fluid of filteredOptions | async" [value]="fluid">
                            {{fluid.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
            <div *ngIf="selectedFluid.value && selectedFluid.value.name">
                
                <p>Fluid name: {{selectedFluid.value.name }} <a mat-raised-button class="view-details" target="_blank">View details</a></p>
                <p>Aliases: <span *ngFor="let alias of selectedFluid.value.aliases"> {{alias}},</span> </p>
            </div>

            <p>Temperature: 298.15 K, Pressure: 101325 Pa, Density: {{resultado | number}} kg/m^3</p>

        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="calculate()">Calculate</button>
        </mat-card-actions>
    </mat-card>
</div>