<!-- <p>ok</p>
<button (click)="PropsSI()">Imprimir</button> -->
<mat-spinner *ngIf="!loaded">

</mat-spinner>
<div>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Number</mat-label>
                    <input 
                        type="text" 
                        placeholder="Pick one" 
                        aria-label="Number" 
                        matInput 
                        [matAutocomplete]="auto" 
                        [formControl]="selectedFluid">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let fluid of filteredOptions | async" [value]="fluid">
                            {{fluid}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>

            {{resultado}}

        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="calculate()">Calcular</button>
        </mat-card-actions>
    </mat-card>
</div>