.plot-card {
	max-width: none;
	width: min(90vmin, 720px);
	aspect-ratio: 1 / 1;
	justify-content: center;
}

.plot-card .plot-wrapper {
	flex: 1;
	min-height: 0;
}

.plot-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
}

.plot-container {
	width: 100%;
	height: 100%;
}
