.result-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.result {
  padding: 0.6rem;
  border-radius: 6px;
  transition: background 0.3s;
  position: relative;
}

.result p {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

.result:hover {
  background: #f1f1f1;
}