$theme-colors: (
  primary: violet,
);

// Cards
@import './components/Card/Card.scss';

//Tables
$table-group-separator-color: rgb(224, 224, 224);
$table-border-width: 1px;
$table-th-font-weight: 70%;
$pagination-color: Black;

@import "../node_modules/bootstrap/scss/bootstrap";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
// @import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// // 3. Include remainder of required Bootstrap stylesheets
// @import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$mynewcolor: teal;

.btn-primary {
  @include button-variant(
    $mynewcolor,
    darken($mynewcolor, 7.5%),
    darken($mynewcolor, 10%),
    lighten($mynewcolor, 5%),
    lighten($mynewcolor, 10%),
    darken($mynewcolor, 30%)
  );
}

.btn-outline-primary {
  @include button-outline-variant(
    $mynewcolor,
    #222222,
    lighten($mynewcolor, 5%),
    $mynewcolor
  );
}

@mixin width {
  width: auto !important;
}
table {
  &.table-fit {
    @include width;
    table-layout: auto !important;
    thead th,
    tfoot th {
      @include width;
    }
    tbody td,
    tfoot td {
      @include width;
    }
  }
}

.btn-header {
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  border-radius: 0px;
  padding: 0px;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: inline-flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-direction: inherit;
  -webkit-box-align: center;
  align-items: center;
}

.btn-header:hover {
  color: gray;
}
